body {
    margin: 0; font-family: monospace;
    background: #f3ffd2; color: #1A1A1A;
    font-size: 16px; line-height: 1.5em;
    display: flex; flex-direction: column; 
}

.header{
    padding: 10px;
    font-size: 14px;
    color: #888;
    border: 5px solid #1B4332;
    padding: 10px;
    margin: 8px;
}

a {
     color: #569cd6; text-decoration: none; 
}

a:hover {
     text-decoration: underline; 
}

.box {
    border: 5px solid #1B4332;
    padding: 10px;
    margin: 8px;    
}
footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #888;
    border: 5px solid #1B4332;
    padding: 10px;
    margin: 8px;
}